.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
.idea/
.vagrant/
share/
temp_resources/
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
src/*
test.plone_addon/
var/
# files
.editorconfig
.installed.cfg
bootstrap-buildout.py
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/collective

*.pyc
HTML_Template/bower_components/
node_modules/
bower_components/

*.DS_Store
