graft src/collective
graft docs
include *.rst
global-exclude *.pyc
exclude *.sh
exclude Vagrantfile
include *.js
include *.json
include *.lock
recursive-include resources *.js
recursive-include resources *.scss
